/* 

@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, .lead {
    font-family: 'Rock Salt', Helvetica, sans-serif;
}

*/